apiVersion: apps/v1
kind: Deployment
metadata:
  name: salaryapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mldeployment
  template:
    metadata:
      labels:
        app: mldeployment
    spec:
      containers:
      - name: ml-app
        image: gcr.io/sampleproj1-379910/salary-app:v5
        ports:
        - containerPort: 8080
